html, body {
    height: 100%;
    width: 100%;
}
body {
    background:yellowgreen;
    @include laptop {
        background:red;
    }
}

.wrapper {
    font: 64px Verdana;
    @include laptop {
        font: 44px Verdana;
    }
    // @include smart();
}
